[submodule "meta-java"]
	path = meta-java
	url = https://github.com/rehsack/meta-java.git
[submodule "meta-openembedded"]
	path = meta-openembedded
	url = git://git.openembedded.org/meta-openembedded
